.card {
  width: 360px;
  position: relative;
}

.card__image {
  width: 360px;
  height: 201px;
  border-radius: 6px;
}

.card__description {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px 0;
}

.card__title {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration {
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
  display: block;
  border-radius: 3px;
  padding: 3px 4px;
  color: #8b8b8b;
  background-color: #2f2f2f;
}

.card__button {
  font-size: 10px;
  font-weight: 400;
  line-height: 9px;
  top: 14px;
  right: 10px;
  position: absolute;
  border: none;
  border-radius: 30px;
  padding: 6px 7px;
  background-color: #f9f9f9;
  cursor: pointer;
  visibility: hidden;
}

.card:hover .card__button {
  visibility: visible;
}

.card__button-save {
  width: 21px;
  height: 21px;
  background-image: url("../../images/icon-save.svg");
  top: 14px;
  right: 14px;
  position: absolute;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.card__button-delete {
  width: 21px;
  height: 21px;
  background-image: url("../../images/icon-delete.svg");
  padding: 0;
  margin: 0;
  top: 14px;
  right: 14px;
  display: block;
  position: absolute;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  visibility: hidden;
}

.card:hover .card__button-delete {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .card {
    width: 339px;
  }

  .card__image {
    width: 339px;
    height: 190px;
  }

  .card__description {
    padding: 25px 0 0;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 300px;
  }

  .card__image {
    width: 300px;
    height: 168px;
  }

  .card__description {
    padding: 16px 0 0;
  }

  .card__title {
    font-size: 12px;
    line-height: 15px;
  }
}