.navigation {
  position: relative;
  width: 100%;
  display: flex;
}

.navigation a {
  transition: 0.4s ease-in;
}

.navigation a:hover {
  opacity: 0.7;
}

.navigation__movies {
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navigation__movies-link {
  font-weight: 400;
  text-decoration: none;
  margin-right: 16px;
  color: #ffffff;
}

.navigation__movies-link:last-of-type {
  margin-right: 0;
}

.navigation__movies-link_active {
  font-weight: 500;
  text-decoration: none;
  margin-right: 16px;
  color: #ffffff;
}

.navigation__auth {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.navigation__link {
  margin-right: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
}

.navigation__button {
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: #3ddc84;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.navigation__button:hover {
  opacity: 0.8;
}

.navigation__button-profile {
  padding: 8px 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s ease-in;
  background-color: #313131;
}

.navigation__button-profile:hover {
  opacity: 0.8;
}

.navigation__button-menu {
  width: 44px;
  height: 44px;
  background: none;
  background-image: url("../../images/icon-menu.svg");
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in;
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation__movies {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation__button-profile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation__button-menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: row-reverse;
  }
}
