.header {
  display: flex;
  align-items: center;
  padding: 18px 70px;
}

.header__logo {
  margin-right: 45px;
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    padding: 18px 14px;
  }
}
