.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 246px;
}

.page__info {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.page__status {
  display: block;
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
  margin-bottom: 5px;
  color: #ffffff;
}

.page__not-found {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.page__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #4285f4;
  text-decoration: none;
  transition: 0.4s ease-in;
  padding: 184px 0 60px;
  background: none;
  border: none;
  cursor: pointer;
}

.page__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .page__container{
    margin-top: 408px;
  }
}

@media screen and (max-width: 450px) {
  .page__container{
    margin-top: 329px;
  }

  .page__status {
    margin-bottom: 10px;
    font-size: 80px;
    line-height: 97px;
  }

  .page__not-found {
    font-size: 12px;
    line-height: 15px;
  }

  .page__link {
    font-size: 12px;
    line-height: 15px;
  }
}
